In [1]:
import pandas as pd

In [9]:
df = pd.read_csv('../data/female_ratio_teacher.csv', header=0)

In [10]:
df.columns

Index(['EDULIT_IND', 'Indicator', 'LOCATION', 'Country', 'TIME', 'Time',
       'Value', 'Flag Codes', 'Flags'],
      dtype='object')

In [14]:
df_tmp = df[df["Indicator"] == "Percentage of teachers in tertiary education who are female (%)"]
#df_tmp = df[df["Indicator"] == "Percentage of students enrolled in Information and Communication Technologies programmes in tertiary education who are female (%)"]
#df_tmp = df[df["Indicator"] == "Percentage of students enrolled in Natural Sciences, Mathematics and Statistics programmes in tertiary education who are female (%)"]
#df_tmp = df[df["Indicator"] == "Percentage of students enrolled in Agriculture, Forestry, Fisheries and Veterinary programmes in tertiary education who are female (%)"]

In [21]:
df_tmp_2 = df_tmp[df_tmp["TIME"] == 2015]

In [23]:
df_new = df_tmp_2.drop(['Flag Codes', 'EDULIT_IND', 'Indicator', 'Flags','Time'], axis=1)
df_new

,LOCATION,Country,TIME,Value
23,PSE,Palestine,2015,25.10940
42,TGO,Togo,2015,5.82596
162,GBR,United Kingdom of Great Britain and Northern I...,2015,44.39724
210,PRT,Portugal,2015,44.39807
293,40530,Central and Eastern Europe,2015,52.22324
329,BFA,Burkina Faso,2015,9.15076
348,LTU,Lithuania,2015,56.11472
353,IND,India,2015,38.61437
418,40500,North America and Western Europe,2015,45.57456
423,KAZ,Kazakhstan,2015,65.15647
460,SWE,Sweden,2015,44.34001
473,BEL,Belgium,2015,48.57632
521,ZWE,Zimbabwe,2015,29.70507
569,NZL,New Zealand,2015,48.82654
710,MAR,Morocco,2015,26.26448
734,ARM,Armenia,2015,58.46625
737,ERI,Eritrea,2015,10.49822
870,40540,Sub-Saharan Africa,2015,23.16331
946,CAN,Canada,2015,49.36244
974,THA,Thailand,2015,61.88022
1105,NOR,Norway,2015,45.34957
1149,40525,Arab States,2015,38.92138
1165,UZB,Uzbekistan,2015,41.48802
1190,AND,Andorra,2015,62.72727
1201,ABW,Aruba,2015,61.62791
1205,BRN,Brunei Darussalam,2015,46.92982
1211,CPV,Cabo Verde,2015,40.26354
1217,DOM,Dominican Republic,2015,43.02727
1223,40043,Upper middle income countries,2015,44.73692
1239,RUS,Russian Federation,2015,57.43611
...,...,...,...,...
3909,AGO,Angola,2015,24.65358
3999,HRV,Croatia,2015,47.99330
4054,OMN,Oman,2015,35.36973
4089,SDN,Sudan,2015,33.49870
4101,ARE,United Arab Emirates,2015,34.39845
4146,PRI,Puerto Rico,2015,53.80967
4405,GRD,Grenada,2015,47.22992
4419,KNA,Saint Kitts and Nevis,2015,39.86928
4423,SYR,Syrian Arab Republic,2015,36.70833
4425,DNK,Denmark,2015,42.77391
4434,SEN,Senegal,2015,7.95798
4437,PRK,Democratic People's Republic of Korea,2015,20.58354
4443,SXM,Sint Maarten (Dutch part),2015,50.00000
4784,40344,Small Island Developing States,2015,48.12212
4790,40618,Asia (Central and Southern),2015,36.68749
4796,40612,Asia (Central),2015,55.59120
4802,40616,Asia (Southern),2015,35.45858
4811,40613,Asia (South-eastern),2015,48.47400
4817,40630,Latin America and the Caribbean,2015,40.67491
4965,40334,Least Developed Countries,2015,21.62975
4971,40606,Africa (Sub-Saharan),2015,23.12980
4975,40603,Africa (Northern),2015,39.76001
4981,40614,Asia (Western),2015,42.28706
4986,40550,Small Island Developing States,2015,47.35205
5075,40640,Northern America,2015,49.13596
5115,40617,Western Asia and Northern Africa,2015,41.40417
5143,40620,Europe,2015,46.66607
5165,40675,World,2015,41.90753
5171,40642,Northern America and Europe,2015,47.72550
5183,40330,Landlocked Developing Countries,2015,42.20233

In [24]:
df_new["rank"] = df_new["Value"].rank(method='min',ascending=False)

In [25]:
df_new["Value"] =df_new["Value"].round(2)
df_new

,LOCATION,Country,TIME,Value,rank
23,PSE,Palestine,2015,25.11,111.0
42,TGO,Togo,2015,5.83,126.0
162,GBR,United Kingdom of Great Britain and Northern I...,2015,44.40,52.0
210,PRT,Portugal,2015,44.40,51.0
293,40530,Central and Eastern Europe,2015,52.22,23.0
329,BFA,Burkina Faso,2015,9.15,124.0
348,LTU,Lithuania,2015,56.11,13.0
353,IND,India,2015,38.61,85.0
418,40500,North America and Western Europe,2015,45.57,44.0
423,KAZ,Kazakhstan,2015,65.16,1.0
460,SWE,Sweden,2015,44.34,54.0
473,BEL,Belgium,2015,48.58,34.0
521,ZWE,Zimbabwe,2015,29.71,108.0
569,NZL,New Zealand,2015,48.83,32.0
710,MAR,Morocco,2015,26.26,110.0
734,ARM,Armenia,2015,58.47,9.0
737,ERI,Eritrea,2015,10.50,122.0
870,40540,Sub-Saharan Africa,2015,23.16,113.0
946,CAN,Canada,2015,49.36,28.0
974,THA,Thailand,2015,61.88,3.0
1105,NOR,Norway,2015,45.35,47.0
1149,40525,Arab States,2015,38.92,84.0
1165,UZB,Uzbekistan,2015,41.49,69.0
1190,AND,Andorra,2015,62.73,2.0
1201,ABW,Aruba,2015,61.63,5.0
1205,BRN,Brunei Darussalam,2015,46.93,42.0
1211,CPV,Cabo Verde,2015,40.26,77.0
1217,DOM,Dominican Republic,2015,43.03,57.0
1223,40043,Upper middle income countries,2015,44.74,48.0
1239,RUS,Russian Federation,2015,57.44,10.0
...,...,...,...,...,...
3909,AGO,Angola,2015,24.65,112.0
3999,HRV,Croatia,2015,47.99,38.0
4054,OMN,Oman,2015,35.37,98.0
4089,SDN,Sudan,2015,33.50,104.0
4101,ARE,United Arab Emirates,2015,34.40,102.0
4146,PRI,Puerto Rico,2015,53.81,22.0
4405,GRD,Grenada,2015,47.23,41.0
4419,KNA,Saint Kitts and Nevis,2015,39.87,81.0
4423,SYR,Syrian Arab Republic,2015,36.71,94.0
4425,DNK,Denmark,2015,42.77,60.0
4434,SEN,Senegal,2015,7.96,125.0
4437,PRK,Democratic People's Republic of Korea,2015,20.58,116.0
4443,SXM,Sint Maarten (Dutch part),2015,50.00,25.0
4784,40344,Small Island Developing States,2015,48.12,36.0
4790,40618,Asia (Central and Southern),2015,36.69,95.0
4796,40612,Asia (Central),2015,55.59,17.0
4802,40616,Asia (Southern),2015,35.46,96.0
4811,40613,Asia (South-eastern),2015,48.47,35.0
4817,40630,Latin America and the Caribbean,2015,40.67,76.0
4965,40334,Least Developed Countries,2015,21.63,115.0
4971,40606,Africa (Sub-Saharan),2015,23.13,114.0
4975,40603,Africa (Northern),2015,39.76,82.0
4981,40614,Asia (Western),2015,42.29,63.0
4986,40550,Small Island Developing States,2015,47.35,40.0
5075,40640,Northern America,2015,49.14,29.0
5115,40617,Western Asia and Northern Africa,2015,41.40,70.0
5143,40620,Europe,2015,46.67,43.0
5165,40675,World,2015,41.91,67.0
5171,40642,Northern America and Europe,2015,47.73,39.0
5183,40330,Landlocked Developing Countries,2015,42.20,64.0

In [26]:
df_new.to_csv('female_ratio_teacher_tertiary.csv')
#df_new.to_csv('female_ratio_information.csv')
#df_new.to_csv('female_ratio_science.csv')
#df_new.to_csv('female_ratio_agriculture.csv')