In [1]:
import pandas as pd

In [13]:
df = pd.read_csv('../data/public_education.csv', header=4)

In [14]:
df.columns

Index(['Unnamed: 0', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3',
       'Lower secondary ', 'Unnamed: 5', 'Upper secondary ', 'Unnamed: 7',
       'All secondary ', 'Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11',
       'Short-cycle tertiary', 'Unnamed: 13',
       'Bachelor's, master's and doctorate degrees', 'Unnamed: 15',
       'All tertiary ', 'Unnamed: 17', 'Unnamed: 18', 'Unnamed: 19', 'Total',
       'Unnamed: 21',
       'Of which: public transfers and payments to the non-educational private sector',
       'Unnamed: 23', 'Unnamed: 24', 'Unnamed: 25', 'Unnamed: 26',
       'Unnamed: 27', 'Unnamed: 28', 'Unnamed: 29', 'Unnamed: 30',
       'Unnamed: 31', 'Unnamed: 32', 'Unnamed: 33', 'Unnamed: 34',
       'Unnamed: 35', 'Unnamed: 36', 'Unnamed: 37', 'Unnamed: 38',
       'Unnamed: 39', 'Unnamed: 40'],
      dtype='object')

In [17]:
df_new = df.drop([ 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 5', 'Unnamed: 7', 'Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 13', 'Unnamed: 15', 'Unnamed: 17', 'Unnamed: 18', 'Unnamed: 19', 'Unnamed: 21', 'Unnamed: 23','Unnamed: 24', 'Unnamed: 25', 'Unnamed: 26', 'Unnamed: 27', 'Unnamed: 28', 'Unnamed: 29', 'Unnamed: 30','Unnamed: 31', 'Unnamed: 32', 'Unnamed: 33', 'Unnamed: 34', 'Unnamed: 35', 'Unnamed: 36', 'Unnamed: 37', 'Unnamed: 38', 'Unnamed: 39', 'Unnamed: 40'], axis=1)
df_new

,Unnamed: 0,Lower secondary,Upper secondary,All secondary,Short-cycle tertiary,"Bachelor's, master's and doctorate degrees",All tertiary,Total,Of which: public transfers and payments to the non-educational private sector
0,Australia,2.8,1.8,4.7,0.7,3.1,3.8,13.4,2.4
1,Austria,2.3,1.9,4.2,0.5,2.8,3.4,9.3,0.5
2,Belgium,1.6,3.4,5.0,0.1,2.6,2.6,10.4,0.7
3,Canada,NaN,3.6,3.6,1.6,3.1,4.6,13.4,1.2
4,Chile,2.1,3.6,5.7,0.6,4.4,5.0,15.8,2.4
5,Czech Republic,2.1,2.0,4.1,0.0,1.9,1.9,7.8,0.2
6,Denmark,2.2,3.3,5.5,NaN,NaN,4.2,13.5,2.2
7,Estonia,1.8,1.9,3.7,NaN,3.7,3.7,11.6,0.4
8,Finland,1.9,2.7,4.6,NaN,3.4,3.4,10.4,0.7
9,France,2.2,2.0,4.2,0.5,1.7,2.2,8.4,0.4
10,Germany,2.8,1.9,4.7,0.0,3.0,3.0,9.4,1.1
11,Greece,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,Hungary,1.2,2.9,4.1,0.1,1.5,1.6,7.3,0.5
13,Iceland,2.4,2.5,4.9,0.1,3.2,3.3,13.4,0.9
14,Ireland,2.2,2.2,4.4,NaN,NaN,2.7,12.9,1.2
15,Israel,NaN,4.1,4.1,0.3,1.8,2.2,11.6,0.3
16,Italy,1.4,2.0,3.4,0.0,1.6,1.6,7.1,0.5
17,Japan,1.8,1.7,3.5,0.2,1.6,1.8,8.2,0.5
18,Korea,3.0,3.2,6.2,0.4,2.9,3.3,14.5,1.2
19,Latvia,2.0,2.4,4.4,0.4,2.6,3.0,11.8,0.5
20,Luxembourg,1.9,2.1,4.0,0.1,1.1,1.2,8.2,0.2
21,Mexico,3.4,3.0,6.4,NaN,NaN,4.3,17.3,1.3
22,Netherlands,2.6,2.3,4.8,0.0,3.6,3.7,11.2,1.7
23,New Zealand,3.9,3.9,7.8,0.6,4.8,5.4,18.7,2.9
24,Norway,1.7,2.8,4.5,0.1,4.7,4.8,13.0,2.2
25,Poland,1.8,1.9,3.7,0.0,2.8,2.8,10.2,0.5
26,Portugal,2.3,1.9,4.2,NaN,1.8,1.8,8.9,0.5
27,Slovak Republic,2.2,2.0,4.2,0.0,2.3,2.3,8.6,0.7
28,Slovenia,1.6,1.9,3.5,0.1,2.0,2.1,8.7,0.5
29,Spain,1.7,1.9,3.5,0.4,1.8,2.2,8.2,0.4
30,Sweden,1.6,2.5,4.1,0.2,3.6,3.8,11.3,1.4
31,Switzerland,3.0,2.7,5.7,NaN,NaN,4.0,14.1,0.3
32,Turkey,2.4,2.4,4.7,NaN,NaN,4.6,12.4,0.9
33,United Kingdom,2.2,3.2,5.3,NaN,NaN,3.0,12.5,1.9
34,United States,2.1,2.2,4.3,NaN,NaN,3.5,11.8,1.1
35,Argentina,3.6,2.5,6.1,NaN,NaN,3.0,13.5,0.1
36,Brazil,4.4,3.4,7.9,NaN,NaN,3.5,16.3,1.4
37,China,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,Colombia,4.0,1.3,5.3,NaN,NaN,3.2,14.1,0.9
39,Costa Rica,4.6,2.4,7.0,NaN,NaN,4.5,19.1,NaN
40,India,1.7,3.5,5.3,NaN,3.6,3.6,12.6,0.1
41,Indonesia,2.9,2.7,5.6,NaN,NaN,3.3,17.6,0.3
42,Lithuania,3.3,1.6,4.9,NaN,3.8,3.8,11.1,0.4
43,Russian Federation,NaN,5.6,5.6,0.4,1.9,2.3,7.9,NaN
44,Saudi Arabia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,South Africa,5.9,NaN,5.9,NaN,NaN,2.3,16.3,0.5

In [18]:
df_new.to_csv('public_education.csv')
#df_new.to_csv('female_ratio_information.csv')
#df_new.to_csv('female_ratio_science.csv')
#df_new.to_csv('female_ratio_agriculture.csv')